
.search-size {
    position: relative;
    left: -4%;
}
.margin-modif {
    margin: 0px 10px;
}
.position-text {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}
.position-nav{
    position: relative;
    left: 6%;
}
.position-nav-user{
    position: relative;
    left: 11%;
}
.img-position {
    position: relative;
    right: 4%;
}
.img-position-dos {
    position: relative;
    right: 3%;
}
.box-perfil {
    display: flex;
    position: relative;
    height: 10%;
    width: 10%;
    left: 3%;
    align-self: center;
}
h1 {
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
}
