.logo-size {
    height: 10%;
    width: 10%;
}
.oferta-size {
    width: 30%;
    height: 30%;
}
.search-size {
    width: 40%;
}
.ubicacion-size {
    height: 2%;
    width: 2%;
}
.notif-size {
    height: 1%;
    width: 1%;
}
.carro-size {
    height: 1%;
    width: 1%;
}